{{#each notes}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a class="btn btn-dark btn-block mb-2" href="/notes/edit/{{id}}">Edit</a>
        <form method="post" action="/notes/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>
    </div>
{{else}}
<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">You have not created any notes yet!</p>
    <a href="/notes/add" class="btn btn-dark btn-lg">Add Note</a>
</div>
{{/each}}